:root {
  --primary-color: #27272A;
  --primary-transparent: rgba(39,39,42, .75);
  --primary-color-100: #89f2e4;
  --primary-neutral-color: whitesmoke;
  --accent-color: #D580DA;
  --header-text: 'Major Mono Display', monospace;
  --content-text: 'Raleway', sans-serif;
}

@charset "utf-8";

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

html {
    overscroll-behavior: none;
}

/* reset + scroll */
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
